<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header  id="cardHeader">
      <mat-card-title id="Title">Formulario Forma de Pago</mat-card-title>
    </mat-card-header>
    <mat-card-content  id="cardContent">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="fecha">Tipo de Pago</mat-label>
            <input id="labelC" matInput placeholder="Ex. Efectivo" formControlName="firstName">
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              Tipo de pago es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="fecha">Valor a Pagar</mat-label>
            <input id="labelC" matInput placeholder="Ex. 150.000" formControlName="address">
            <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
              Valor es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button id="button" mat-raised-button color="primary" type="submit">Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
