<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Web</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <header>
            <h1>¡Bienvenido a T5S!</h1>
            
            <h2>¡Desbloquea tu potencial académico!</h2>

            <div style="width: 55%; padding: 50px 0;">
                <span>En T5S, nos esforzamos por ofrecerte la mejor experiencia educativa. Explora nuestras herramientas y
                    recursos diseñados para tu éxito académico.</span>
                    <br>
                <span>Con nuestros tutores especializados, podrás ampliar tus conocimientos, resolver dudas y alcanzar tus
                    metas académicas.</span>
                    <br>
                <span>¡Descubre la plataforma T5S y lleva tu aprendizaje al siguiente nivel!</span>
            </div>

            <button type="button">
                Mas Informacion
                <img src="https://raw.githubusercontent.com/DaniCodex/--Interfaz_web_Pagina-web_html5_css3/608f3c75025688f3dfda745f102b13c7c21d6368/icono/bxs-right-arrow-alt.svg"
                    alt="">
            </button>
        </header>
        <img class="emp"
            src="https://github.com/DaniCodex/--Interfaz_web_Pagina-web_html5_css3/blob/master/img/portfolio_site_img/EMP.png?raw=true"
            alt="">
        <img class="fondo-emp"
            src="https://github.com/DaniCodex/--Interfaz_web_Pagina-web_html5_css3/blob/master/img/portfolio_site_img/pattern..png?raw=true"
            alt="">
        <div class="icons">
            <i class='bx bxl-invision'></i>
            <i class='bx bxl-dropbox'></i>
            <i class='bx bxl-linkedin'></i>
        </div>
    </div>
</body>

</html>