<form [formGroup]="formaPagoForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Informacion Forma de Pago</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select formControlName="formaPagoOpciones" placeholder="Ex. Tarjeta de Crédito">
              <mat-option value="tarjeta">Tarjeta de Crédito</mat-option>
              <mat-option value="transferencia">Transferencia Bancaria</mat-option>
              <mat-option value="efectivo">Efectivo</mat-option>
            </mat-select>
            <mat-error *ngIf="formaPagoForm.controls['formaPagoOpciones'].hasError('required')">
              La forma de pago es <strong>Obligatoria</strong>
            </mat-error>
          </mat-form-field>                  
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Ingrese el valor a pagar" formControlName="valorPagar">
            <mat-error *ngIf="formaPagoForm.controls['valorPagar'].hasError('pattern')">
              El valor a pagar es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>          
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
