.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  position: relative;
  border-radius: 10px 0 0 10px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.3s ease;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

#Title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  color: aliceblue;
}

#cardContent {
  padding: 30px 16px;
}

#labelC {
  color: aliceblue;
  font-size: 20px;
  font-family: 'Roboto';
}

#button {
  border-radius: 10px;
  color: gray;
  background-color: #fff;
  width: 100%;
  font-family: 'Roboto';
  outline: 0;
  cursor: pointer;
  position: relative;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s ease;
}

#button:hover {
  color: orange;
}

.title {
  position: relative;
  z-index: 1;
  border-left: 5px solid orange;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: orange;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

#input {
  font-size: 25px;
}

.login-welcome-text {
  color: white;
  letter-spacing: 0.03rem;
  font-size: 2.75rem;
  z-index: 5;
  animation: slideright 2s ease-out;
}

.login-aside-hr {

  height: 0.5rem;
  width: 8rem;
  border: none;
  outline: none;
  background-color: white;
  z-index: 5;
  animation: slideright 4s ease-out;

}

.registro-link {
  color: orange;
  text-decoration: none; /* Esto elimina el subrayado predeterminado de los enlaces */
}

.registro-link:hover {
  color: greenyellow;
}


