<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/login">Login</a>
      <a mat-list-item href="/estudiantes">Estudiantes</a>
      <a mat-list-item href="/Tutor">Tutor</a>
      <a mat-list-item href="/calendario">Calendario</a>
      <a mat-list-item href="/FormCalendario">Form Calendario</a>
      <a mat-list-item href="/geografia">Geografia</a>
      <a mat-list-item href="/FormGeografia">FormGeografia</a>
      <a mat-list-item href="/reservaTutoria">Reservar Tutoria</a>
      <a mat-list-item href="/FormReservTuto">FormReservTuto</a>
      <a mat-list-item href="/TutorMateria">Tutor Materia</a>
      <a mat-list-item href="/formapago">Forma de Pago</a>
      <a mat-list-item href="/FormFormaPago">Form Forma de Pago</a>
      <a mat-list-item href="/repositorio">Repositorio</a>
      <a mat-list-item href="/FormRepositorio">FormRepositorio</a>
      <a mat-list-item href="/Materia">Materia</a>
    </mat-nav-list>
<!--v8 -->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>T5S</span>
      <div class="avatar-container">
        <ngx-avatars name="T 5 S"></ngx-avatars>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

