.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 0px 10px 0px 10px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

/*#Title{
  color: aliceblue;
  font-weight: 800;
  font-size: 2em;
  font-family: 'Roboto';
}*/

#Title{
  font-size: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  color: aliceblue;
}

#cardHeader{
  align-self: center;
}

#cardContent{
  padding: 30px 16px;
}

#labelC{
  color: aliceblue;
  font-size: 14px;
  font-family: 'Roboto';
}

#button{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  background-color: #645bff;
  width: 100%;
  font-family: 'Roboto';
}

#button:hover{
  background-color: #00bfff96;
}

h1{
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  padding: 10px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 3px;
}