<form [formGroup]="calendarioForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Informacion Calendario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Ex. 10-09-2023" formControlName="fechaCalendario">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="calendarioForm.controls['fechaCalendario'].hasError('required')">
              La Fecha es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ex. Tutoria de Matematicas a las 8am" formControlName="descripcionCalendario">
            <mat-error *ngIf="calendarioForm.controls['descripcionCalendario'].hasError('required')">
              La descripcion del calendario es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
