<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" style="margin: 20px;">
  <mat-card class="shipping-card">
    <mat-card-header id="cardHeader">
      <mat-card-title id="Title">Reseteo De Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content id="cardContent">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="email">Email</mat-label>
            <input id="labelC" matInput type="text" formControlName="email"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
            <mat-error *ngIf="passwordResetForm.controls['email'].hasError('required')">
              Email <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls['email'].hasError('pattern')">
              Ingresa una dirección de correo electrónico válida
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button id="button" mat-raised-button color="primary" type="submit"
        [disabled]="!passwordResetForm.get('email').value || passwordResetForm.controls['email'].hasError('pattern')">
        Reset Password
      </button>
    </mat-card-actions>
  </mat-card>
</form>