<form [formGroup]="geographyForm" (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header id="cardHeader">
      <mat-card-title id="Title">Información Geografica</mat-card-title>
    </mat-card-header>
    <mat-card-content id="cardContent">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ciudad" formControlName="Ciudad">
            <mat-error *ngIf="geographyForm.controls['Ciudad'].hasError('required')">
              Ciudad es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Pais" formControlName="Pais">
            <mat-error *ngIf="geographyForm.controls['Pais'].hasError('required')">
              Pais es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button id="button" mat-raised-button color="primary" type="submit">{{title}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>