<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header id="cardHeader">
      <mat-card-title id="Title">Formulario Estudiante</mat-card-title>
    </mat-card-header>
    
    <mat-card-content id="cardContent">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Apellidos">Apellidos</mat-label>
            <input id="labelC" matInput placeholder="Perez" formControlName="Apellidos">
            <mat-error *ngIf="addressForm.controls['Apellidos'].hasError('required')">
              Apellidos <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Nombres">Nombres</mat-label>
             <input matInput id="labelC"placeholder="Pepe" formControlName="Nombres">
            <mat-error *ngIf="addressForm.controls['Nombres'].hasError('required')">
              Nombres <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Tipo Documento">Tipo Documento</mat-label>
            <mat-select placeholder="Cedula Ciudadania" formControlName="documentType">
              <mat-option *ngFor="let doc of Documento" [value]="doc.abbreviation">{{ doc.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['documentType'].hasError('required')">
              Tipo de Documento <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Numero Documento">Numero Documento</mat-label>
             <input matInput id="labelC"placeholder="101012983" formControlName="NumeroDocumento" pattern="[0-9]*">
            <mat-error *ngIf="addressForm.controls['NumeroDocumento'].hasError('required')">
              Numero Documento <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['NumeroDocumento'].hasError('pattern')">
              Ingresa solo números
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Celular">Celular</mat-label>
             <input matInput id="labelC"placeholder="310231233" formControlName="Celular" inputmode="numeric" pattern="[0-9]*">
            <mat-error *ngIf="addressForm.controls['Celular'].hasError('required')">
              Celular <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['Celular'].hasError('pattern')">
              Ingresa solo números
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Correo electrónico">Correo electrónico</mat-label>
             <input matInput id="labelC"placeholder="ejemplo@gmail.com" formControlName="Correo"
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
            <mat-error *ngIf="addressForm.controls['Correo'].hasError('required')">
              Correo <strong>obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['Correo'].hasError('pattern')">
              Ingresa una dirección de correo electrónico válida
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Direccion">Direccion</mat-label>
             <input matInput id="labelC"placeholder="Cl 3# 4A" formControlName="Direccion">
            <mat-error *ngIf="addressForm.controls['Direccion'].hasError('required')">
              Direccion <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="Nombre Usuario">Nombre Usuario</mat-label>
             <input matInput id="labelC"placeholder=" Andrea10" formControlName="NombreUsuario">
            <mat-error *ngIf="addressForm.controls['NombreUsuario'].hasError('required')">
              Nombre Usuario <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label id="labelC" for="password">Contraseña</mat-label>
             <input matInput id="labelC"placeholder="Axt*" formControlName="password">
            <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
              Contraseña<strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>




    </mat-card-content>
    <mat-card-actions>
      <button id="button" mat-raised-button color="primary" type="submit">Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</form>